<ion-header>
    <ion-toolbar color="primary">
        <ion-title>tree!!</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let tree of trees" [routerLink]="['./', tree.id]">
            <ion-avatar slot="start">
                <ion-img [src]="tree.treeImage">

                </ion-img>
            </ion-avatar>
            <ion-label>
                {{ tree.name}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item [routerLink]="['/bird']">
            <ion-label>Card Link Item 2</ion-label>
        </ion-item>
    </ion-list>
</ion-content>