<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content [fullscreen]="true">
        <ion-card>
            <ion-button color="danger" (click)="scanBRcode()" expand="block">
                Scan Barcode
            </ion-button>
        </ion-card>

        <ion-card>
            <div *ngIf="scannedBarCode">
                <ion-item (click)="openLink(scannedBarCode['text'] ) ">
                    Scanned code output: <strong>{{ scannedBarCode["text "] }}</strong>
                </ion-item>
            </div>
        </ion-card>
        <div class="list-no-border">
            <!--nearby places-->


            <ion-item class="nameClass img1" button (click)="buttonClick()">

                <ion-card-title button (click)="buttonClick()" class="title-cards">Sport</ion-card-title>
            </ion-item>


            <ion-item class="nameClass imgfamily" href="https://www.ionicframework.com">

                <ion-card-title class="title-cards">Familly</ion-card-title>
            </ion-item>
            <ion-item class="nameClass img_usages">

                <ion-card-title class="title-cards">Usages</ion-card-title>
            </ion-item>
            <ion-item class="nameClass img_hand">

                <ion-card-title class="title-cards">handicap</ion-card-title>
            </ion-item>

        </div>
        <ion-button [routerLink]="['/tree']">Go to detail</ion-button>
    </ion-content>

    <ion-tabs>

        <div class="cam_continer">
            <div class="cam">
                <ion-fab-button class="icon-cam">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
                <ion-label>Scanez un Qr code</ion-label>

            </div>
        </div>
    </ion-tabs>
