<ion-header>
    <ion-toolbar>
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-button color="danger" (click)="scanBRcode()" expand="block">
            Scan Barcode
        </ion-button>
    </ion-card>

    <ion-card>
        <div *ngIf="scannedBarCode">
            <ion-item (click)="openLink(scannedBarCode['text'] ) ">
                Scanned code output: <strong>{{ scannedBarCode["text "] }}</strong>
            </ion-item>
        </div>
    </ion-card>
    <div class="container_list">
        <ion-item class="nameClass img1" button [routerLink]="['/sport']">

            <ion-card-title button (click)="buttonClick()" class="title-cards">Sport</ion-card-title>
        </ion-item>


        <ion-item class="nameClass imgfamily" [routerLink]="['/tree']">

            <ion-card-title class="title-cards">Familly</ion-card-title>
        </ion-item>
        <ion-item class="nameClass img_usages" [routerLink]="['/bird']">

            <ion-card-title class="title-cards">Usages</ion-card-title>
        </ion-item>
        <ion-item class="nameClass img_hand" [routerLink]="['/handicap']">

            <ion-card-title class="title-cards">handicap</ion-card-title>
        </ion-item>
    </div>

</ion-content>
